### Chi_Square Test
The test is applied when you have two categorical variables from a single population. It is used to determine whether there is a significant association between the two varibles

In [23]:
import scipy.stats as stats
import numpy as np
import pandas as pd
import seaborn as sns
from scipy.stats import chi2

In [2]:
dataset = sns.load_dataset("tips")

In [3]:
dataset

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
dataset_table = pd.crosstab(dataset["sex"],dataset["smoker"])
dataset_table

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [ ]:
dataset_table.values

array([[60, 97],
       [33, 54]])

In [ ]:
# observed values 

Observed_values = dataset_table.values
print("Observed_values :\n" ,Observed_values)

Observed_values :
 [[60 97]
 [33 54]]

In [12]:
Val = stats.chi2_contingency(dataset_table)

In [13]:
Val

Chi2ContingencyResult(statistic=np.float64(0.0), pvalue=np.float64(1.0), dof=1, expected_freq=array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]]))

In [14]:
Expected_Values = Val[3]

In [17]:
no_of_rows = len(dataset_table.iloc[0:2,0])
no_of_columns = len(dataset_table.iloc[0,0:2])
ddof = (no_of_rows - 1 )*(no_of_columns - 1)
print("Degree of Freedom : " ,ddof)
alpha = 0.05

Degree of Freedom :  1

In [18]:
chi_square = sum([(o-e)**2/e for o , e in zip(Observed_values,Expected_Values)])

chi_square_statistic = chi_square[0] + chi_square[1]

In [21]:
print("chi_square_statistic : ", chi_square_statistic)

chi_square_statistic :  0.001934818536627623

In [27]:
critical_value = chi2.ppf(q = 1-alpha,df =ddof)
print("Critical_values : ",critical_value)

Critical_values :  3.841458820694124

In [30]:
# P_values

P_values = 1 - chi2.cdf(x = chi_square_statistic,df =ddof)
print('p-value : ',P_values)
print('Significance level : ', alpha)
print("Degree of Freedom : " ,ddof)

p-value :  0.964915107315732
Significance level :  0.05
Degree of Freedom :  1

In [31]:
if chi_square_statistic >= critical_value:
    print("Reject H0, there is a relationship between 2 categorical variables")
else:
    print(" Retain H0, There is no relationship between 2 categorical variables")

if P_values <= alpha:
    print("Reject H0, there is a relationship between 2 categorical variables")
else:
    print(" Retain H0, There is no relationship between 2 categorical variables")

 Retain H0, There is no relationship between 2 categorical variables
 Retain H0, There is no relationship between 2 categorical variables